---
import { Image } from 'astro:assets'
import ButtonCard from '../common/ButtonCard.astro'
interface Props {
  demo: string
  repo?: string
  image: string
  title: string
}

const { image, title, demo, repo } = Astro.props
---

<a
  href={demo}
  target='_blank'
  class='card-project m-auto p-2 w-full rounded-2xl hover:scale-105 transition duration-200'
>
  <Image
    class='w-full h-auto rounded-xl'
    width='390'
    height='205'
    src={image}
    alt={title}
  />
</a>

<style>
  .card-project {
    backdrop-filter: none;
    outline-offset: -1px;
    background-image: radial-gradient(
      circle farthest-side at 50% 0,
      rgba(242, 242, 242, 0.2),
      rgba(13, 13, 13, 0.5)
    );
    outline: 1px solid rgba(242, 242, 242, 0.15);
    box-shadow: 0 10px 15px rgba(13, 13, 13, 0.5);
  }
</style>
