---
import Timeline from './Timeline/Timeline.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<main
  class='h-[100vh] max-w-5xl flex items-center flex-col justify-center px-9 gap-y-8 md:pt-[88px] lg:mb-24'
>
  <div class='flex w-full'>
    <h1 class='text-4xl font-RobotoFlex'>{t('experience.title')}</h1>
  </div>
  <Timeline />
</main>
