---
import GithubIcon from '../assets/icons/Github.astro'
import LinkedinIcon from '../assets/icons/Linkedin.astro'
import ButtonCV from './common/ButtonCV.astro'
import { getLangFromUrl, useTranslations } from '../i18n/utils'

const lang = getLangFromUrl(Astro.url)
const t = useTranslations(lang)
---

<main
  class='flex flex-col md:flex-row h-screen md:justify-center md:items-center gap-y-12 md:gap-y-10 max-w-5xl px-8 pt-14 pb-14'
>
  <div class='w-full'>
    <h1 class='font-normal text-white text-7xl md:text-8xl font-RobotoFlex'>
      Nabil Allis
    </h1>
    <div class='container-slider flex items-center'>
      <ul
        class='slider ul text-4xl md:text-5xl md:w-44 w-36 tracking-tighter font-Ubuntu'
      >
        <li class='text-[#f66a41] italic'>full stack</li>
        <li class='text-[#f66a41] italic'>frontend</li>
        <li class='text-[#f66a41] italic'>backend</li>
      </ul>
      <h3 class='font-Ubuntu text-2xl md:text-3xl md:pl-3 pt-3 text-slate-100'>
        developer
      </h3>
    </div>
    <div class='flex gap-x-4 py-6 pt-10 md:pt-6 items-center'>
      <a
        target='_blank'
        href='https://www.linkedin.com/in/nabil-allis/'
        class='text-white hover:text-[#427D9D] scale-110 hover:scale-125 transition-all duration-300'
        ><LinkedinIcon /></a
      >
      <a
        target='_blank'
        href='https://github.com/Nabil014'
        class='text-white hover:text-[#427D9D] scale-110 hover:scale-125 transition-all duration-300'
        ><GithubIcon /></a
      >
      <ButtonCV
        lang={lang}
        text={t('home.buttonCV')}
      />
    </div>
  </div>

  <div class='md:flex flex-col gap-y-4 hidden'>
    <p class='text-2xl text-white/60'>
      <span class='font-NotoSerif font-light text-[#F9B572] text-3xl'
        >+1 {t('home.year')}</span
      >
      {t('home.webExperience')}
    </p>
    <p class='text-2xl text-white/60'>
      <span class='font-NotoSerif font-light text-[#F9B572] text-3xl'
        >+3 {t('home.years')}</span
      >
      {t('home.store')}
    </p>
  </div>
  <div
    class='flex md:hidden gap-x-10 justify-center flex-col sm:flex-row items-center gap-y-10'
  >
    <div class='w-64 flex justify-center'>
      <div class='flex'>
        <h3 class='text-7xl relative pl-3 font-medium font-Ubuntu text-white'>
          <span
            class='text-5xl absolute -top-1 -left-3 font-NotoSerif font-bold text-[#f04b34]'
            >+</span
          > 1
        </h3>
      </div>
      <div class='flex pt-7'>
        <p class='uppercase text-lg text-white/60'>
          {t('home.webExperience')}
        </p>
      </div>
    </div>
    <div class='w-[1px] bg-[#394867] h-40 hidden sm:block md:hidden'></div>

    <div class='w-64 flex justify-center gap-x-2'>
      <div class='flex'>
        <h3 class='text-7xl relative pl-3 font-medium font-Ubuntu text-white'>
          <span
            class='text-5xl absolute -top-1 -left-3 font-NotoSerif font-bold text-[#f04b34]'
            >+</span
          > 3
        </h3>
      </div>
      <div class='flex pt-7'>
        <p class='uppercase text-lg text-white/60'>
          {t('home.store')}
        </p>
      </div>
    </div>
  </div>
</main>

<style>
  .slider {
    height: 70px;
    position: relative;
    animation: slide 5s cubic-bezier(0.68, -0.55, 0.27, 1.55) infinite;
  }
  li {
    position: absolute;
    height: 70px;
    top: 200%;
    line-height: 70px;
  }
  li:first-child {
    top: 100%;
  }
  .container-slider {
    overflow: hidden;
  }
  li:last-child {
    top: 300%;
  }

  @keyframes slide {
    0% {
      transform: translateY(0);
    }
    15%,
    30% {
      transform: translateY(-100%);
    }
    45%,
    60% {
      transform: translateY(-200%);
    }
    75%,
    90% {
      transform: translateY(-300%);
    }
    100% {
      transform: translateY(-400%);
    }
  }
</style>
