---
import Background from '../components/Backgroun.astro'
import Navbar from '../components/Navbar.astro'
import Home from '../components/Home.astro'
import Experience from '../components/Experience.astro'
import Projects from '../components/Projects/Projects.astro'
interface Props {
  title: string
}

const { title } = Astro.props
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='description'
      content='Astro description'
    />
    <meta
      name='viewport'
      content='width=device-width'
    />
    <link
      rel='icon'
      type='image/svg+xml'
      href='/favicon.svg'
    />
    <meta
      name='generator'
      content={Astro.generator}
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,300;8..144,400;8..144,500;8..144,700&display=swap'
      rel='stylesheet'
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;1,300;1,400&display=swap'
      rel='stylesheet'
    />
    <link
      rel='preconnect'
      href='https://fonts.googleapis.com'
    />
    <link
      rel='preconnect'
      href='https://fonts.gstatic.com'
      crossorigin
    />
    <link
      href='https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100;0,200;0,300;1,300&display=swap'
      rel='stylesheet'
    />
    <title>{title}</title>
  </head>
  <body>
    <div>
      <Background />
    </div>
    <nav
      class='z-50 max-w-6xl mx-auto sticky top-0'
      id='navbar'
    >
      <Navbar />
    </nav>
    <main class='max-w-5xl mx-auto'>
      <section id='home'>
        <Home />
      </section>
      <div class='w-full h-[2px] bg-neutral-800 hidden md:block'></div>
      <section
        id='experience'
        class='pb-10 md:pb-0'
      >
        <Experience />
      </section>
      <div class='w-full h-[2px] bg-neutral-800 hidden md:block'></div>

      <section id='projects'>
        <Projects />
      </section>
      <div class='w-full h-[2px] bg-neutral-800 hidden md:block'></div>
    </main>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-size: 224px;
    color-scheme: dark light;
    scroll-behavior: smooth;
  }
</style>
